@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.share-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
}

.photo-placeholder {
  width: 80%;
  max-width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.photo-input {
  display: none; /* ファイル入力を隠します */
}

.form {
  width: 100%;
  max-width: 400px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #FFD700;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}


.button-link {
  width: 80%; /* 他のボタンと同じ幅に設定 */
  max-width: 340px; /* 他のボタンと同じ最大幅に設定 */
  padding: 10px;
  margin-top: 10px;
  background-color: #FFD700;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none; /* リンクの下線を削除 */
}

